<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>NumberGuesser</display-name>
	<servlet>
		<description>
		</description>
		<display-name>loadprogramservlet</display-name>
		<servlet-name>loadprogramservlet</servlet-name>
		<servlet-class>com.numberguesser.servlets.LoadProgramServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>guessservlet</display-name>
		<servlet-name>guessservlet</servlet-name>
		<servlet-class>com.numberguesser.servlets.GuessServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>guessnumberservlet</display-name>
		<servlet-name>guessnumberservlet</servlet-name>
		<servlet-class>com.numberguesser.servlets.GuessNumberServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>nextguessservlet</display-name>
		<servlet-name>nextguessservlet</servlet-name>
		<servlet-class>com.numberguesser.servlets.NextGuessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadprogramservlet</servlet-name>
		<url-pattern>
		/loadprogramservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>guessservlet</servlet-name>
		<url-pattern>
		/guessservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>guessnumberservlet</servlet-name>
		<url-pattern>
		/guessnumberservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>nextguessservlet</servlet-name>
		<url-pattern>
		/nextguessservlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/jsp/numberguesserhome.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>